
<ion-content class="ion-padding"  color="light">

  <ion-img 
    src="assets/Inicio.png" class="imagen-al-borde">
  </ion-img>
  
  <div class="container">
    <ion-img src="assets/LogoInicio.png"/>
  </div>

  <ion-img 
    src="assets/Inicio2.png" class="imagen-al-borde2">
  </ion-img>

  <ion-fab vertical="center" horizontal="center" slot="fixed">
    <ion-fab-button size="small" color="primary" [routerLink]="['/login']">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
