.margen-borde-superior{
  top: -20px; /* Coloca la imagen en la parte superior */
  border-radius: 0px 0px 200px 200px;
  background: #f5c723;
  position: relative;
  margin: -30px;
  padding: 0px;
  height: 280px;
  // width: px;
}

.container{
    height: 400px;
    width: 500px;
    margin: -75px;
}

.margen-borde-inferior{
  border-radius: 200px 200px 0px 0px;
  background: #f5c723;
  position: fixed;
  bottom:  -150px;
  margin: -35px;
  height: 500px;
  width: 450px;
}
  