<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <div class="borde-inicio"></div>
    <ion-title class="inicio">Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <div style="display: flex; justify-content: center;">
        <ion-img src="assets/UPAP.png" style="width: 300px; height: 300px;"></ion-img>
      </div>
      
      
      <label style="font-size: 18px; text-align: justify; display: block;">
        Quiero expresar mi sincero agradecimiento a la facultad, a mi familia y a mis 
        profesores por brindarme la oportunidad de realizar este proyecto en el 
        entorno de mi tesis. Ha sido una experiencia invaluable que me ha permitido 
        aplicar y expandir mis conocimientos en informática. 
        Estoy profundamente agradecido por la guía, el apoyo y la orientación recibido 
        a lo largo de este proceso. Este proyecto no habría sido posible sin su inestimable 
        ayuda y confianza en mí.</label>

        <label style="font-size: 18px; text-align: center; display: block;">
         Muchas gracias UPAP</label>

        <ion-img src="assets/LogoInicio.png" style="width: 500px; height: 500px;" style="display: flex; justify-content: center;"></ion-img>
  
        
    </ion-card-content>
  </ion-card>
</ion-content>
