.imagen-logo{
    position: relative;
    top: 75px; /* Coloca la imagen en la parte superior */
    right: 0%; /* Coloca la imagen en el borde derecha */
    left: 0%; /* Coloca la imagen en el borde izquierdo */
    height: 200px;
    // width: 100px;
}

.margen-borde-inferior{
    position: fixed;
    border-radius: 200px 0px 0px 0px;
    opacity: 0.8;
    background: #f5c723;
    bottom: 0px; /* Coloca la imagen en la parte superior */
    right: 0%; /* Coloca la imagen en el borde derecha */
    left: 0%; /* Coloca la imagen en el borde izquierdo */
    padding: 0px;
    height: 650px;
    width: 420px;
}

.text-center{
    color: #5F6062;
    font-weight: bold;
    position: fixed;
    top: 40%; /* Centra verticalmente */
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em; /* Tamaño de letra relativo */
}

.nombre-input {
    position: fixed; /* Posicionamiento absoluto para colocar la imagen en relación con el contenedor */
    top: 45%;
    right: 15%; /* Coloca la imagen en el borde derecha */
    left: 15%; /* Coloca la imagen en el borde izquierdo */
    border-radius: 10px; /* Opcional: para bordes redondeados */
}

.fecha-input {
    position: fixed; /* Posicionamiento absoluto para colocar la imagen en relación con el contenedor */
    top: 55%;
    right: 15%; /* Coloca la imagen en el borde derecha */
    left: 15%; /* Coloca la imagen en el borde izquierdo */
    border-radius: 10px; /* Opcional: para bordes redondeados */
}

.correo-input {
    position: fixed; /* Posicionamiento absoluto para colocar la imagen en relación con el contenedor */
    top: 65%;
    right: 15%; /* Coloca la imagen en el borde derecha */
    left: 15%; /* Coloca la imagen en el borde izquierdo */
    border-radius: 10px; /* Opcional: para bordes redondeados */
}

.contrasena-input {
    position: fixed; /* Posicionamiento absoluto para colocar la imagen en relación con el contenedor */
    top: 75%;
    right: 15%; /* Coloca la imagen en el borde derecha */
    left: 15%; /* Coloca la imagen en el borde izquierdo */
    border-radius: 10px; /* Opcional: para bordes redondeados */
}

.color-input {
    color: #2f2f2f;
}


ion-button {
    position: fixed;
    bottom: 9%; /* Ajusta según sea necesario */
    left: 50%;
    transform: translateX(-50%);
    --background: #4f4f4f;
    color: rgb(255, 255, 255);
    --padding-top: 10px; /* Ajusta según sea necesario */
    --padding-bottom: 10px; /* Ajusta según sea necesario */
    --padding-start: 120px; /* Ajusta según sea necesario */
    --padding-end: 120px; /* Ajusta según sea necesario */
  }

  .color-registro {
    position: fixed;
    bottom: 3%; /* Ajusta según sea necesario */
    left: 50%;
    transform: translateX(-50%);
    color: #050505;
    white-space: nowrap;
  }

  .negrita{
    color: #040404;
    font-weight: bold;
  }
