ion-item::part(native) {
  
    border-color: #f5c723;

    border-width: 2px;
  
    border-radius: 20px;
  }

.inicio {
  position: relative;
  text-align: end; /* Alinear horizontalmente */
  padding-right: 25px; /* Ajustar el relleno izquierdo */
}

.borde-inicio {
  position: fixed;
  border-radius: 10px 0px 0px 10px;
  background: #4f4f4f;
  top: 8px;
  right: 0px; /* Coloca la imagen en el borde derecha */
  float: left;
  padding: 20px; 
  width: 200px;
  height: 2px; 
  // margin: 60px;
}

.fixed-bottom-guardar {
  position: fixed;
  bottom: 10px; /* Puedes ajustar esto según sea necesario */
  right: 10px; /* Puedes ajustar esto según sea necesario */
}
.fixed-bottom-cancelar {
  position: fixed;
  bottom: 10px; /* Puedes ajustar esto según sea necesario */
  right: 120px; /* Puedes ajustar esto según sea necesario */
}