.inicio {
  position: relative;
  text-align: end; /* Alinear horizontalmente */
  padding-right: 30px; /* Ajustar el relleno izquierdo */
}

.borde-inicio {
  position: fixed;
  border-radius: 10px 0px 0px 10px;
  background: #4f4f4f;
  top: 8px;
  right: 0px; /* Coloca la imagen en el borde derecha */
  float: left;
  padding: 20px; 
  width: 170px;
  height: 2px; 
  // margin: 60px;
}

ion-content {
    --background: rgb(35, 35, 35);
  }

  ion-item-divider {
    --background: #d1b422ee;
    --color: #fff;
  
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-start: 20px;
    --padding-end: 20px;
  }

  ion-item {
    --background: #bba32896;
    --color: #fff;
  }

  .custom-label {
    font-size: 18px; /* Cambia el tamaño del texto aquí */
  }