<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Lista de cuentas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>

      <ion-list color="primary">
        <ion-item [button]="true" [routerLink]="['/efectivo']">
          <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          <ion-label>Efectivo</ion-label>
        </ion-item>

        <div class="ion-padding"></div>

        <ion-item [button]="true" [routerLink]="['/tarjeta']">
          <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          <ion-label>Tarjeta</ion-label>
        </ion-item>

      </ion-list>

    </ion-card-content>
  </ion-card>
</ion-content>
