.inicio {
    position: relative;
    text-align: end; /* Alinear horizontalmente */
    padding-right: 25px; /* Ajustar el relleno izquierdo */
}
  
.borde-inicio {
  position: fixed;
  border-radius: 10px 0px 0px 10px;
  background: #4f4f4f;
  top: 8px;
  right: 0px; /* Coloca la imagen en el borde derecha */
  float: left;
  padding: 20px; 
  width: 200px;
  height: 2px; 
  // margin: 60px;
}

.resultado-text {
  font-size: 1.3rem; /* Tamaño del texto */
}

.conversion-text {
    font-size: 1.0rem; /* Tamaño del texto */
  }