.imagen-logo{
    position: relative;
    top: 75px; /* Coloca la imagen en la parte superior */
    right: 0%; /* Coloca la imagen en el borde derecha */
    left: 0%; /* Coloca la imagen en el borde izquierdo */
    height: 200px;
    // width: 100px;
}

.margen-borde-inferior{
    position: fixed;
    border-radius: 200px 0px 0px 0px;
    opacity: 0.8;
    background: #f5c723;
    bottom: 0px; /* Coloca la imagen en la parte superior */
    right: 0%; /* Coloca la imagen en el borde derecha */
    left: 0%; /* Coloca la imagen en el borde izquierdo */
    padding: 0px;
    height: 550px;
    width: 420px;
}

.text-center{
    color: #5F6062;
    font-weight: bold;
    position: fixed;
    top: 390px;
    left: 20px;
    font-size: 1.7em; /* Tamaño de letra relativo */
}

.correo-input {
    position: fixed; /* Posicionamiento absoluto para colocar la imagen en relación con el contenedor */
    top: 65%;
    right: 15%; /* Coloca la imagen en el borde derecha */
    left: 15%; /* Coloca la imagen en el borde izquierdo */
    border-radius: 10px; /* Opcional: para bordes redondeados */
}

.color-input {
    color: #2f2f2f;
}


ion-button {
    position: absolute;
    top: 700px;
    left: 35px;
    --background: #4f4f4f;
  
    color: rgb(255, 255, 255);
  
    --padding-top: 15px;
    --padding-bottom: 15px;
    --padding-start: 120px;
    --padding-end: 120px
}
