<ion-content [fullscreen]="true">

  <ion-img 
    src="assets/Logo-transp.png" class="imagen-logo">
  </ion-img>

  <div 
    class="margen-borde-inferior">
  </div>

  <ion-title class="text-center">
    RESETEAR CONTRASEÑA
  </ion-title>
  
  <div class="correo-input">
    <ion-item color="light">
      <ion-input 
        [(ngModel)]="email"
        type="email" 
        placeholder="Correo"
        class="color-input">
      </ion-input>
    </ion-item>
  </div>

  <ion-button (click)="resetPassword()" shape="round">
    CONFIRMAR
  </ion-button>

</ion-content>

