.imagen-logo{
    position: relative;
    top: 75px; /* Coloca la imagen en la parte superior */
    right: 0%; /* Coloca la imagen en el borde derecha */
    left: 0%; /* Coloca la imagen en el borde izquierdo */
    height: 200px;
    // width: 100px;
}

.margen-borde-inferior {
    border-radius: 200px 0px 0px 0px;
    opacity: 0.8;
    background: #f5c723;
    position: absolute;
    bottom: 0;
    left: 0;
    // transform: translateX(-50%);
    // padding: 0;
    height: 65%; /* Ajusta según sea necesario */
    width: 100%; /* Ajusta según sea necesario */
  }

.text-center{
    color: #5F6062;
    font-weight: bold;
    position: fixed;
    top: 55%; /* Centra verticalmente */
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em; /* Tamaño de letra relativo */
}

.correo-input {
    position: fixed; /* Posicionamiento absoluto para colocar la imagen en relación con el contenedor */
    top: 65%;
    right: 15%; /* Coloca la imagen en el borde derecha */
    left: 15%; /* Coloca la imagen en el borde izquierdo */
    border-radius: 10px; /* Opcional: para bordes redondeados */
}

.color-input {
    color: #2f2f2f;
}


ion-button {
    position: fixed;
    bottom: 15%; /* Ajusta según sea necesario */
    left: 50%;
    transform: translateX(-50%);
    --background: #4f4f4f;
    color: rgb(255, 255, 255);
    --padding-top: 10px; /* Ajusta según sea necesario */
    --padding-bottom: 10px; /* Ajusta según sea necesario */
    --padding-start: 120px; /* Ajusta según sea necesario */
    --padding-end: 120px; /* Ajusta según sea necesario */
  }
