<ion-app>

  <div class="ion-page" id="main-content">
    <ion-header [translucent]="true" color="primary" class="header-no-margin">
      
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="borde-inicio"></div>
        <ion-title class="inicio">Inicio</ion-title>
      </ion-toolbar>

      <ion-segment [(ngModel)]="selectTabs" value="cuentas" class="color_segment">
        <ion-segment-button value="cuentas">
          <ion-label class="custom-label">CUENTAS</ion-label>
        </ion-segment-button>
        <ion-segment-button value="metas">
          <ion-label class="custom-label">METAS</ion-label>
        </ion-segment-button>
      </ion-segment>

    </ion-header>

    <ion-content color="medium">
      
      <div *ngIf="selectTabs == 'cuentas'">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Lista de cuentas</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            
            <ion-grid>
              <ion-row>
                <ion-col>

                  <ion-card class="color_card">
                    <ion-card-title>Efectivo</ion-card-title>
                    <ion-card-subtitle class="label_size_card">GS 1.500.000</ion-card-subtitle>
                  </ion-card>

                </ion-col>
                
                <ion-col>

                  <ion-card class="color_card">
                    <ion-card-title>Tarjeta</ion-card-title>
                    <ion-card-subtitle class="label_size_card">GS 3.200.000</ion-card-subtitle>
                  </ion-card>

                </ion-col>
              </ion-row>
            </ion-grid>
            
            <div class="custom-button">
              <ion-button routerLink="/registros" size="small">
                Editar Registros
              </ion-button>
            </div>
      
          </ion-card-content>

        </ion-card>

        <ion-card>
        Hol
        </ion-card>

      </div>

      <div *ngIf="selectTabs == 'metas'">
        <h3>Metas</h3>
      </div>
    </ion-content>

  </div>

  <ion-menu contentId="main-content">
    <ion-header [translucent]="true">
      <ion-toolbar color="light">
        <ion-img src="assets/Logomenu.png"></ion-img>

        <div class="borde-margen">
        </div>

          <div class="user_name">
            <ion-text color="primary">
              <h1>Dario Avalos</h1>
              <h1></h1>
            </ion-text>
          </div>

      </ion-toolbar>
    </ion-header>
    <ion-content>

      <ion-list lines="full">
        <ion-menu-toggle autoHide="false" aria-hidden="true">
          
          <ion-item  
            routerLink="/home">
            <ion-icon name="home" slot="start" color="light"></ion-icon>
            Inicio
          </ion-item>

          <ion-item  
            routerLink="/categorias">
            <ion-icon name="apps" slot="start" color="light"></ion-icon>
            Categorías
          </ion-item>

          <ion-item  
            routerLink="/registros">
            <ion-icon name="albums" slot="start" color="light"></ion-icon>
            Registros
          </ion-item>

          <ion-item  
            routerLink="/categorias">
            <ion-icon name="bar-chart" slot="start" color="light"></ion-icon>
            Presupuestos
          </ion-item>

          <ion-item  
            routerLink="/categorias">
            <ion-icon name="golf" slot="start" color="light"></ion-icon>
            Objetivos
          </ion-item>

          <ion-item  
            routerLink="/categorias">
            <ion-icon name="bag" slot="start" color="light"></ion-icon>
            Lista de compras
          </ion-item>

          <ion-item  
            routerLink="/categorias">
            <ion-icon name="wallet" slot="start" color="light"></ion-icon>
            Cuentas
          </ion-item>

          <ion-item  
            routerLink="/categorias">
            <ion-icon name="server" slot="start" color="light"></ion-icon>
            Monedas
          </ion-item>

          <ion-item  
            routerLink="/categorias">
            <ion-icon name="cash" slot="start" color="light"></ion-icon>
            Tipo de cambio
          </ion-item>

          <ion-item  
            routerLink="/categorias">
            <ion-icon name="person" slot="start" color="light"></ion-icon>
            Perfil de usuario
          </ion-item>

          <ion-item  
            routerLink="/categorias">
            <ion-icon name="alert-circle" slot="start" color="light"></ion-icon>
            Acerca de
          </ion-item>

        </ion-menu-toggle>
      </ion-list>
      
    </ion-content>
    <ion-button (click)="logout()" color="danger" class="ion-padding">
      Cerrar Sesion
    </ion-button>
  </ion-menu>

</ion-app>



