ion-menu::part(backdrop) {
  background-color: rgba(255, 255, 0, 0.438);
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;

  box-shadow: 4px 0px 16px rgba(225, 207, 7, 0.885);
}


.header-no-margin{
  // --box-shadow: none; /* Elimina la sombra */
  // border-bottom: none; /* Eliminar el borde inferior del toolbar */
  // --padding-start: 0; /* Ajusta el relleno izquierdo */
  // --padding-end: 0; /* Ajusta el relleno derecho */
  background-color: var(--ion-color-primary); /* Color de fondo del toolbar */
  border-bottom: none; /* Eliminar el borde inferior del toolbar */
}

.borde-margen {
  border-radius: 20px 0px 0px 20px;
  background: #4f4f4f;
  top: 103px;
  right: 0px; /* Coloca la imagen en el borde derecha */
  float: left;
  padding: 20px; 
  width: 220px;
  height: 2px; 
  position: fixed;
  // margin: 60px;
}

.user_name {
  position: relative;
  text-align: end; /* Alinear horizontalmente */
  padding-right: 30px; /* Ajustar el relleno izquierdo */
}

.inicio {
  position: relative;
  text-align: end; /* Alinear horizontalmente */
  padding-right: 75px; /* Ajustar el relleno izquierdo */
}

.borde-inicio {
  position: fixed;
  border-radius: 10px 0px 0px 10px;
  background: #4f4f4f;
  top: 8px;
  right: 0px; /* Coloca la imagen en el borde derecha */
  float: left;
  padding: 20px; 
  width: 160px;
  height: 2px; 
  // margin: 60px;
}

.color_segment {
  --margin-top: 0; /* Elimina el margen superior */
  --background: #f5c723;
  --ion-color-primary: #4f4f4f; /* Color del indicador de segmento */
  --ion-color-primary-contrast: #4f4f4f; /* Color de texto del indicador de segmento */
}

ion-segment-button {
  color: #4f4f4f; /* Color de texto personalizado */
}

.custom-label {
  font-size: 20px; /* Tamaño de fuente personalizado */
}

.color_card {
  background-color: #555555;
  border: solid 6px #555555;
}

.label_size_card {
  font-size: 20px; /* Tamaño de fuente personalizado */
  color: #b8b7b7; /* Color de texto personalizado */
}

.custom-button {
  position: relative;
  text-align: end; /* Alinear horizontalmente */
  padding-right: 10px; /* Ajustar el relleno izquierdo */
}

// .chart {
//   width: 7000px;
//   margin: 0px auto;
//   padding: 50;
//   margin-left: -100px;
// }

.ion-text-wrap {
  font-size: 18px;
}

.icon_item {
  margin-left: -15px; /* Espacio entre el icono y el cuadro */
  margin-right: 5px; /* Espacio entre el icono y el label */
}