<ion-app>

  <div class="ion-page" id="main-content">
    <ion-header [translucent]="true" color="primary" class="header-no-margin">
      
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="borde-inicio"></div>
        <ion-title class="inicio">Inicio</ion-title>
      </ion-toolbar>

      <ion-segment [(ngModel)]="selectTabs" value="cuentas" class="color_segment">
        <ion-segment-button value="cuentas">
          <ion-label class="custom-label">CUENTAS</ion-label>
        </ion-segment-button>
        <ion-segment-button value="metas">
          <ion-label class="custom-label">METAS</ion-label>
        </ion-segment-button>
      </ion-segment>

    </ion-header>

    <ion-content color="medium">
      
      <div *ngIf="selectTabs == 'cuentas'">
        <ion-card>
          <ion-card-header>
            <ion-card-title >Lista de cuentas</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            
            <ion-grid>
              <ion-row>
                <ion-col>

                  <ion-card class="color_card">
                    <ion-card-title>Efectivo</ion-card-title>
                    <ion-card-subtitle class="label_size_card">GS 1.500.000</ion-card-subtitle>
                  </ion-card>

                </ion-col>
                
                <ion-col>

                  <ion-card class="color_card">
                    <ion-card-title>Tarjeta</ion-card-title>
                    <ion-card-subtitle class="label_size_card">GS 3.200.000</ion-card-subtitle>
                  </ion-card>

                </ion-col>
              </ion-row>
            </ion-grid>
            
            <div class="custom-button">
              <ion-button routerLink="/registros" size="small">
                Editar
              </ion-button>
            </div>
      
          </ion-card-content>

        </ion-card>

        <ion-card>
          <ion-card-title class="ion-padding">Gráfico de gastos</ion-card-title>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="auto">
                <ion-card-title>Este mes</ion-card-title>
                <ion-card-subtitle class="label_size_card">GS</ion-card-subtitle>
                <ion-card-subtitle class="label_size_card">3.200.000</ion-card-subtitle>
              </ion-col>
            </ion-row>
          </ion-grid>
          <div>
            <apx-chart
              [series]="chartGastos.series"
              [chart]="chartGastos.chart"
              [labels]="chartGastos.labels"
              [responsive]="chartGastos.responsive"
            ></apx-chart>
          </div>
        </ion-card>

        <ion-card>
          <ion-card-title class="ion-padding">Últimos registros</ion-card-title>
    
          <ion-list [inset]="true">
            <ion-item [button]="true" detail="false">
              <ion-icon color="primary" name="checkmark-circle" slot="start" class="icon_item" size="small"></ion-icon>
              <ion-label slot="start">
                <ion-text class="ion-text-wrap">Combustible</ion-text><br />
                <ion-note color="light">
                  Efectivo
                </ion-note>
              </ion-label>

              <ion-label slot="end">
                <ion-text color="danger" class="ion-text-wrap">-Gs 500.000</ion-text><br />
                <ion-note color="light">
                  11 abril
                </ion-note>
              </ion-label>

            </ion-item>

            <ion-item [button]="true" detail="false">
              <ion-icon color="primary" name="checkmark-circle" slot="start" class="icon_item" size="small"></ion-icon>
              <ion-label slot="start">
                <ion-text class="ion-text-wrap">Comida y bebida</ion-text><br />
                <ion-note color="light">
                  Efectivo
                </ion-note>
              </ion-label>

              <ion-label slot="end">
                <ion-text color="danger" class="ion-text-wrap">-Gs 800.000</ion-text><br />
                <ion-note color="light">
                  11 abril
                </ion-note>
              </ion-label>

            </ion-item>
          </ion-list>

          <div class="custom-button" >
            <ion-button routerLink="/registros" size="small" class="ion-padding">
              Editar
            </ion-button>
          </div>

        </ion-card>

      </div>

      <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button> 
          <ion-icon name="chevron-up-circle"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
          <ion-fab-button routerLink="/ingresos">
            <ion-icon name="add-circle" color="success" size="large"></ion-icon>
          </ion-fab-button>
          <ion-fab-button routerLink="/gastos">
            <ion-icon name="close-circle" color="danger" size="large"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>

      <div *ngIf="selectTabs == 'metas'">
        <ion-card>
         <ion-card-header>
          <ion-card-title>Presupuestos</ion-card-title>
          <ion-card-subtitle>¿Hasta cuanto puedo gastar?</ion-card-subtitle>
         </ion-card-header>
         <div id="chart">
          <apx-chart
            [series]="chartPresup.series2"
            [chart]="chartPresup.chart"
            [dataLabels]="chartPresup.dataLabels"
            [plotOptions]="chartPresup.plotOptions"
            [xaxis]="chartPresup.xaxis"
          ></apx-chart>
        </div>
        </ion-card>

      </div>
    </ion-content>

  </div>

  <ion-menu contentId="main-content">
    <ion-header [translucent]="true">
      <ion-toolbar color="light">
        <ion-img src="assets/Logomenu.png"></ion-img>

        <div class="borde-margen">
        </div>

          <div class="user_name">
            <ion-text color="primary">
              <h1>Dario Avalos</h1>
              <h1></h1>
            </ion-text>
          </div>

      </ion-toolbar>
    </ion-header>
    <ion-content>

      <ion-list lines="full">
        <ion-menu-toggle autoHide="false" aria-hidden="true">
          
          <ion-item  
            routerLink="/home">
            <ion-icon name="home" slot="start" color="light"></ion-icon>
            Inicio
          </ion-item>

          <ion-item  
            routerLink="/categorias">
            <ion-icon name="apps" slot="start" color="light"></ion-icon>
            Categorías
          </ion-item>

          <ion-item  
            routerLink="/registros">
            <ion-icon name="albums" slot="start" color="light"></ion-icon>
            Registros
          </ion-item>

          <ion-item  
            routerLink="/categorias">
            <ion-icon name="bar-chart" slot="start" color="light"></ion-icon>
            Presupuestos
          </ion-item>

          <ion-item  
            routerLink="/categorias">
            <ion-icon name="golf" slot="start" color="light"></ion-icon>
            Objetivos
          </ion-item>

          <ion-item  
            routerLink="/categorias">
            <ion-icon name="bag" slot="start" color="light"></ion-icon>
            Lista de compras
          </ion-item>

          <ion-item  
            routerLink="/categorias">
            <ion-icon name="wallet" slot="start" color="light"></ion-icon>
            Cuentas
          </ion-item>

          <ion-item  
            routerLink="/categorias">
            <ion-icon name="server" slot="start" color="light"></ion-icon>
            Monedas
          </ion-item>

          <ion-item  
            routerLink="/categorias">
            <ion-icon name="cash" slot="start" color="light"></ion-icon>
            Tipo de cambio
          </ion-item>

          <ion-item  
            routerLink="/categorias">
            <ion-icon name="person" slot="start" color="light"></ion-icon>
            Perfil de usuario
          </ion-item>

          <ion-item  
            routerLink="/categorias">
            <ion-icon name="cafe" slot="start" color="light"></ion-icon>
            Acerca de
          </ion-item>

        </ion-menu-toggle>
      </ion-list>
      
    </ion-content>
    <ion-button (click)="logout()" color="danger" class="ion-padding">
      Cerrar Sesion
    </ion-button>
  </ion-menu>

</ion-app>



