<ion-app>
  <ion-menu contentId="main-content">
    <ion-header [translucent]="true">
      <ion-toolbar color="light">
        <ion-img src="assets/Logomenu.png"></ion-img>

        <div class="borde-margen">
        </div>

          <div class="container">
            <ion-text color="primary">
              <h1>Dario Avalos</h1>
              <h1></h1>
            </ion-text>
          </div>

      </ion-toolbar>
    </ion-header>
    <ion-content>

      <ion-list lines="full">
        <ion-menu-toggle autoHide="false" aria-hidden="true">

          <ion-item  
            routerLink="/categorias">
            <ion-icon name="home" slot="start" color="light"></ion-icon>
            Inicio
          </ion-item>

          <ion-item  
            routerLink="/categorias">
            <ion-icon name="apps" slot="start" color="light"></ion-icon>
            Categorías
          </ion-item>

          <ion-item  
            routerLink="/categorias">
            <ion-icon name="albums" slot="start" color="light"></ion-icon>
            Registros
          </ion-item>

          <ion-item  
            routerLink="/categorias">
            <ion-icon name="bar-chart" slot="start" color="light"></ion-icon>
            Presupuestos
          </ion-item>

          <ion-item  
            routerLink="/categorias">
            <ion-icon name="golf" slot="start" color="light"></ion-icon>
            Objetivos
          </ion-item>

          <ion-item  
            routerLink="/categorias">
            <ion-icon name="bag" slot="start" color="light"></ion-icon>
            Lista de compras
          </ion-item>

          <ion-item  
            routerLink="/categorias">
            <ion-icon name="wallet" slot="start" color="light"></ion-icon>
            Cuentas
          </ion-item>

          <ion-item  
            routerLink="/categorias">
            <ion-icon name="server" slot="start" color="light"></ion-icon>
            Monedas
          </ion-item>

          <ion-item  
            routerLink="/categorias">
            <ion-icon name="cash" slot="start" color="light"></ion-icon>
            Tipo de cambio
          </ion-item>

          <ion-item  
            routerLink="/categorias">
            <ion-icon name="person" slot="start" color="light"></ion-icon>
            Perfil de usuario
          </ion-item>

          <ion-item  
            routerLink="/categorias">
            <ion-icon name="alert-circle" slot="start" color="light"></ion-icon>
            Acerca de
          </ion-item>

        </ion-menu-toggle>
      </ion-list>
      
    </ion-content>
    <ion-button (click)="logout()" color="danger" class="ion-padding">
      Cerrar Sesion
    </ion-button>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding"> Tap the button in the toolbar to open the menu. </ion-content>
  </div>
</ion-app>



